name: taknak
description: "TakNak (PROD) - Kullanıcı Uygulaması"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2

  cupertino_icons: ^1.0.8
  http: ^1.2.2

  firebase_core: ^3.6.0
  firebase_auth: ^5.3.1
  cloud_firestore: ^5.4.4

  google_maps_flutter: ^2.7.0
  geolocator: ^13.0.1
  geocoding: ^3.0.0

  shared_preferences: ^2.3.2

  share_plus: ^10.0.2
  path_provider: ^2.1.4
  cross_file: ^0.3.4+2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  generate: true

  assets:
    - assets/
